body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #c5f6fa;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #c5f6fa;
}

.features-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #99e9f2;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #99e9f2;
}

.container-fluid {
	background-color: #24c4dc;
	padding: 20px;
}

.nav-items {
	font-weight: bolder;
	font-size: 30px; 
	font-family: 'Lobster';
}

.navbar-text {
	font-weight: bolder;
	font-size: 20px;
}

.nav-bar-logo {
	height: 80px;
	margin:0;
	padding: 0;
	margin-left: -10px;
    margin-top: -30px;
}

.navbar-header p {
	color: #FFFFFF;
}

/* title */
.navbar-default .navbar-brand {
	height: 40px;
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}